/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

body {
    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
    background-size: cover;
    font-family: Prompt;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
header {
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    color: #fff;
    padding-right: 1em;
    
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.nav-btns,
nav ul li a {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.logo {
    max-width: 10em;
    height: auto;
}

/* Estilos de las secciones */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: whitesmoke;
}
.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h2 {
    color: #333;
}

p {
    color: #666;
}