/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

body {
    background-image: url(Fondo.png);
    background-size: cover;
    font-family: Prompt;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */
header {
    background-image: url(Fade.png);
    color: #fff;
    padding: 0.5em;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btns,
nav ul li a {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.logo {
    max-width: 15em;
    height: auto;
}

/* Estilos de las secciones */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}
.section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h2 {
    color: #333;
}

p {
    color: #666;
}