    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Prompt:wght@500&display=swap');

    body {
        background-image: url(Photos/Fondo.png);
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    li,
    a,
    button {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        text-decoration: none;
    }

    header {
        background-image: url(Photos/Fade.png);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;
        max-height: 100px;
    }

    .logo {
        margin-right: auto;
        cursor: pointer;
        width: 350px;
    }

    .nav-links {
        list-style: none;
    }

    .nav-links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-links li a {
        transition: all 0.3 ease 0s;
        color: white;
    }

    .nav-links li a:hover {
        color: aqua;
    }

    button {
        font-size: 18px;
        margin-left: 20px;
        padding: 9px 25px;
        background-color: rgb(65, 96, 221, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3 ease 0s;
    }

    button:hover {
        background-color: rgb(65, 96, 221, 0.6);
    }

    #main-div {
        margin: 0px 300px 0px 300px;
        background-color: antiquewhite;
    }

    p {
        font-size: 100pt;
    }